<div class="row mb-4 justify-content-evenly mx-auto">
    <label class="text-center mb-2">Legend:</label>
    <div class="col-4 col-sm-2">
        <div class="box-res border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Residential
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="box-vac border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Vacant Land
        </div>
    </div>
    <div class="col col-sm-2">
        <div class="box-tpp border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        TPP
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="box-com border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Commercial
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="box-ind border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Industrial
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="box-ag border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Agricultural
        </div>
    </div>
    <div class="col-4 col-sm-2">
        <div class="box-other border border-info border-start-10 rounded-start rounded-end text-center fw-bold">
        Other
        </div>
    </div>

</div>