<div class="row mb-4 justify-content-evenly mx-auto">

    <label for="top_sales_table" class="text-center fw-bold fs-3">Top 5 Sales</label>
    <div class="bg-box col-12 p-3 border border-info border-start-10 rounded-start rounded-end text-left">
        <table class="mt-2 mb-2 table table-sm table-primary table-striped table-hover table-bordered border-secondary" id="top_sales_table">
            <thead>
            <tr>
                <th scope="col" >Owner</th>
                <th scope="col" >Sale Price</th>
                <th scope="col" >Total Acres</th>
                <th scope="col" >Category/Use</th>
            </tr>
            </thead>

            <tbody class="table border-secondary">

                <tr>
                    <td>US ROW FARMLAND LLC<br>SW Citrus Blvd</td>
                    <td>$65,651,500</td>
                    <td>3,748.0</td>
                    <td class="first-cell-active">Agricultural/Cropland</td>
                </tr>

                <tr>
                    <td>Philipson TIC Member Martin Coast LLC<br>9555 SE Federal Hwy Hobe Sound</td>
                    <td>$23,200,000</td>
                    <td>8.9</td>
                    <td class="second-cell-active">Institutional/Homes for the Aged</td>
                </tr>

                <tr>
                    <td>Vist Plaza MZL LLC<br>2400 NW Federal Hwy Jensen Beach</td>
                    <td>$20,500,000</td>
                    <td>11.6</td>
                    <td class="third-cell-active">Commercial/Shopping Center</td>
                </tr>

                <tr>
                    <td>Troposphere 55 Trust<br>1005 NE Doubloon Dr Hutchinson Island</td>
                    <td>$15,000,000</td>
                    <td>2.3</td>
                    <td class="fourth-cell-active">Residential/Single Family</td>
                </tr>

                <tr>
                    <td>Pulte Home Company LLC<br>10205 SW Pratt Whitney Rd Stuart</td>
                    <td>$10,418,500</td>
                    <td>116.9</td>
                    <td class="fifth-cell-active">Vacant Acreage</td>
                </tr>

            </tbody>
        </table>
    </div>
<!--
    <script>
      $(document).ready(function () {
        $('#top_sales_table').DataTable();
      });
    </script>
-->
</div>