<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 MCPAO</p>
    <div class="d-none d-md-block">
      <img src="/static/logo.png" alt="Logo" width="60" height="60" class="rounded mx-auto">
    </div>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="mailto:info@pa.martin.fl.us?subject=Questions about Dashboard" class="nav-link px-2 text-body-secondary">Email Us!</a></li>
      <li class="nav-item"><a target = "_blank" href="https://www.pa.martin.fl.us/" class="nav-link px-2 text-body-secondary">Our Website</a></li>
    </ul>
  </footer>
</div>